body{
	background-color: #789
}

div.title{
	text-align: center;
	margin: 25px 0 25px 0
}

label.title{
	font-size: 20px;
	font-weight: bold;
}

div.context p{
	text-indent: 2em;
	font-size: 1.5em;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

div.context p label.note{
	color: #ccc;
}

div.end_author{
    text-align: right;
    margin: 50px;	
}

div.turn{
	text-align: center;
	font-size: 1.5em;
}

div.turn button{
	color: blue;
	cursor: pointer;
}